.DS_Store
dataset/*
!dataset/data.txt
src/.DS_Store

env/

src/__pycache__/
src/cross_encoder/__pycache__
src/bi_encoder/__pycache__

results/
checkpoints/*
!checkpoints/ckpt.txt

wandb/

*.json
2024/
2025/